
.inicio {
  margin-bottom: 0px;
}

.logo {

  width: 100px;
  height: auto;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  top: 50%;
  left: 36%;
  transform: translate(-50%, -50%);
  
  
}

.fondo {

  width: 100%;
  height: 100vh;
  object-fit: cover;
}

